.link-wrap {
   display: flex;
   align-items: center;
   font-size: 1.5em;
   padding: 0.5em;
}

.link-wrap > span {
   display: flex;
   margin-left: 20px;
   cursor: pointer;
}

.chip {
   margin-left: 8px;
   font-size: 14px;
}

.columns {
   row-gap: 16px;
   padding: 0 8px;
}

.card {
   flex-direction: row;
}

.card-header {
   min-width: 0;
}

.card-subtitle {
   padding-top: 4px;
   display: -webkit-box;
   -webkit-line-clamp: 5;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.card-image {
   width: 130px;
   flex-shrink: 0;
}

.text-overflow {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   display: block;
   min-width: 0
}

.chip {
   margin-left: 0;
   font-size: 14px;
   margin-right: 8px;
}
