<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>[read|mint]manga & shakai simple search</title>
      <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
      <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
   </head>

   <body style="background-color: #f7f8f9">
      <div class="pagination p-2">
         <button class="btn btn-primary" id="settings">
            <i class="icon icon-more-horiz"></i>
         </button>

         <select class="form-select" id="siteSelect">
            <option selected value="1">readmanga</option>
            <option value="2">mintmanga</option>
            <option value="3">shakai</option>
         </select>

         <input
            class="form-input"
            type="number"
            step="1"
            value="1"
            placeholder="0"
            id="pageInput"
            style="width: 25vw"
         />

         <button class="btn btn-primary" id="load">Загрузить!</button>
      </div>

      <div class="settings pb-2 pr-2 pl-2">
         <!-- TODO: Add tabs for diff platforms -->
         <!-- https://picturepan2.github.io/spectre/components/tabs.html#tabs -->

         <div>
            <div class="form-group">
               <div class="col-12">
                  <div class="input-group">
                     <span class="input-group-addon">username</span>
                     <input class="form-input" type="text" id="username" placeholder="username" />
                  </div>
               </div>
            </div>

            <div class="form-group">
               <div class="col-12">
                  <div class="input-group">
                     <span class="input-group-addon">password</span>
                     <input class="form-input" type="text" id="password" placeholder="password" />
                  </div>
               </div>
            </div>

            <div class="footer">
               <a class="btn" onclick="login()">login</a>

               <div id="status">
                  <span> status: </span>
                  <div class="chip">
                     <div class="avatar avatar-sm bg-red"></div>
                     <span class="status-text">
                        not connected
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="columns"></div>

      <div class="pagination p-2">
         <select class="form-select" id="siteSelect">
            <option selected value="1">readmanga</option>
            <option value="2">mintmanga</option>
            <option value="3">shakai</option>
         </select>

         <input
            class="form-input"
            type="number"
            step="1"
            value="1"
            placeholder="0"
            id="pageInput"
            style="width: 25vw"
         />

         <button class="btn btn-primary" id="load">Загрузить!</button>
      </div>

      <template id="tileTpl">
         <div class="column col-4 col-xs-12">
            <div class="card">
               <div class="card-image">
                  <img class="img-responsive p-centered" width="130" src="" alt="" />
               </div>
               <div class="card-header">
                  <div class="card-title h5">
                     <a href="" class="card-link text-overflow"> </a>

                     <span class="card-status"></span>
                  </div>
                  <div class="card-subtitle"></div>
               </div>
            </div>
         </div>
      </template>

      <template id="noResults">
         <div class="empty">
            <div class="empty-icon">
               <i class="icon icon-cross icon-4x"></i>
            </div>
            <p class="empty-title h5">Результатов нет!</p>
         </div>
      </template>

      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <script src="{{ url_for('static', filename='app.js') }}"></script>
   </body>
</html>
