<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>[read|mint]manga & shakai simple search</title>
      <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
      <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
   </head>

   <body style="background-color: #f7f8f9">
      <div class="pagination p-2">
         <select class="form-select" id="siteSelect">
            <option selected value="1">readmanga</option>
            <option value="2">mintmanga</option>
            <option value="3">shakai</option>
         </select>

         <input
            class="form-input"
            type="number"
            step="1"
            value="1"
            placeholder="0"
            id="pageInput"
            style="width: 25vw"
         />

         <button class="btn btn-primary" id="load">Загрузить!</button>
      </div>

      <div class="columns"></div>

      <template id="tileTpl">
         <div class="column col-4 col-xs-12">
            <div class="card">
               <div class="card-image">
                  <img class="img-responsive p-centered" width="130" src="" alt="" />
               </div>
               <div class="card-header">
                  <div class="card-title h5">
                     <a href="" class="card-link text-overflow"> </a>
                  </div>
                  <div class="card-subtitle"></div>
               </div>
            </div>
         </div>
      </template>

      <template id="noResults">
         <div class="empty">
            <div class="empty-icon">
               <i class="icon icon-cross icon-4x"></i>
            </div>
            <p class="empty-title h5">Результатов нет!</p>
         </div>
      </template>

      <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
      <script src="{{ url_for('static', filename='app.js') }}"></script>
   </body>
</html>
